<section class="contact-us">
    <div class="container">
        <div class="row d-block mx-0">
            <div class="headline font-red-hat-display">
                Faster and Easier Financial Management Starts Here
            </div>
        </div>
        <div class="row mx-0 button text-center">
            <div class="col-md-6 text-md-right mb-4 mb-md-0">
                <button class="btn btn-contact">
                Contact Us
            </button>
            </div>
            <div class="col-md-6 text-md-left mb-4 mb-md-0">
                <button class="btn btn-demo">
                View Demo
            </button>
            </div>
        </div>
    </div>
</section>